src/main/mule/cccciiiiccccdddd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fb2be6fe-90b2-4122-af19-21a35f47cb79" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cccciiiiccccddddFlow" doc:id="32b8ce59-6193-45f1-b885-3f82b262d183" >
		<http:listener doc:name="Listener" doc:id="2ca901fd-200e-486c-b258-db08e3236618" config-ref="HTTP_Listener_config" path="/cicd"/>
		<ee:transform doc:name="Transform Message" doc:id="aafc9581-457d-41a0-b1a9-591a5eb6b520" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
"CDI":"35",
"Fname":"Julia",
"Lname":"May",
"Street":"UplandPI",
"City":"Seattel",
"State":"FL"
}
	
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="1e9839a2-7845-4e8b-960f-fb41dca56afe" message="#[payload]"/>
	</flow>
</mule>
